<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.findFriend.mapper.BarMapper">
<update id="updateBar" parameterType="com.findFriend.entity.Bar">
    update bar
    <set>
        <if test="name!=null and name!=''">
            name=#{name},
        </if>
        <if test="categoryId!=null and categoryId!=''">
            category_id=#{categoryId},
        </if>
        <if test="image!=null and image!=''">
            image=#{image},
        </if>
        <if test="description!=null and description!=''">
            description=#{description},
        </if>
        <if test="status!=null and status!=''">
            status=#{status},
        </if>
        <if test="createTime!=null">
            create_time=#{createTime},
        </if>
        <if test="updateTime!=null">
            update_time=#{updateTime},
        </if>
        <if test="createUser!=null and createUser!=''">
            create_user=#{createUser},
        </if>
        <if test="updateUser!=null and updateUser!=''">
            update_user=#{updateUser}
        </if>
    </set>
    where id=#{id}
</update>
</mapper>
